%head
  = stylesheet_link_tag :all, :cache => true
  = javascript_src_tag "jquery", :cache => true
  
  %title
    All people

%body
  %h1
    Listing all people
  .text
    Who all are there?

  %table{:cellpadding => 5, :bgcolor => "#FFFF66"}
    %tr
      %th Name
      %th Gender
      %th Address
      %th Geocoded?

    - for person in @people
      %tr
        %td= person.name
        %td= person.gender
        %td= person.printed_address
        %td= person.geocoded

  .geocode
    %a{:href => 'geocode'}
      Geocode All
          